<html>
<head>
  <title><%= params[:batch_json][:page_title] %></title>
  <style>
    html, body {
      margin:0px;
      padding:0px;
    }
    .td-style {
      border-bottom: 1px solid #CCCCCC;
      padding: 15px 25px;
      text-align: center;
    }
    .barcode_icon {
      width: 250px; 
      height: 60px; 
     }
  </style>
</head>
<body onload="window.print();">
  <h2>Master Pick List Name: <%= params[:batch_json][:page_title] %></h2>
  <div>
    <table style="float:right;">
      <tr>
        <td><b>Master Pick List ID:</b> <%= params[:batch_json][:batch_id] %></td>
      </tr>
      <tr>
        <td><b>Date Created:</b> <%= params[:batch_json][:date_created] if params[:batch_json][:date_created].present? %></td>
      </tr>
      <tr>
        <td><b>Date Printed:</b> <%= params[:batch_json][:date_printed] if params[:batch_json][:date_printed].present? %></td>
      </tr>
    </table>
  </div>

  <div>
    <table style="width:100%">
      <tr>
        <td>
        
        </td>
      <td>
        <table style="width:100%">
          <tr>
            <td style="text-align:right;"><b>No Of Items: </b><%= @no_of_items %></td>
          </tr>
          <tr>
            <td style="text-align:right;"><b>No of Packages: </b><%= @no_of_shipments %></td>
          </tr>
          <tr>
            <td  style="text-align:right;"><b>No of Orders: </b><%= @no_of_orders %></td>
          </tr>
        </table>
      </td>
      </tr>
    </table>
  </div>

  <div id="wrapper">
    <div id="content">
      <table width="100%">
        <% params[:batch_json][:item].each do |row| %>
        <tr>
          <td valign="top" class="td-style">
            <% if row["product_image"] %>
            <%= image_tag(row["product_image"]) %>
            <% end %>        
          </td>
          <td>
            <b>Product Name:</b> <%= row["product_name"] %><br/>
            <b>Taxon:</b> <%= row["taxon_name"] %>
          </td>
          <td valign="top" class="td-style">
            <b>Designer:</b> <%= row["designer_name"] %><br/>
            <b>Warehouse:</b> <%= params[:batch_json][:warehouse] %>
          </td>
          <td valign="top" class="td-style">
            <% if row["order_number"] %>
            <%= bar_code_image(row["order_number"]) %><br/>
            <strong><%= row["order_number"] %></strong>
            <% end %>
          </td>
          <td valign="top" class="td-style">
            <% if row["shipment_number"] %>
            <strong style="font-size: 12pt;"><%= row["shipment_number"] %></strong>
            <%= bar_code_image(row["shipment_number"]) %><br/>
            <% end %>
          </td>
          <td valign="top" class="td-style">
            <%= bar_code_image(row["sku"]) %><br/>
            <strong style="font-size: 12pt;">SKU: <%= row["sku"] %></strong>
          </td>
        </tr>
        <% end if params[:batch_json][:item].present? %>
      </table>
    </div>
  </div>
</body>
